<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @form.address %>
</p>

<p>
  <strong>Date:</strong>
  <%= @form.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @form.time %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @form.comment %>
</p>

<p>
  <strong>Public:</strong>
  <%= @form.public %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
