<!DOCTYPE html>
<html>
  <div class="container">
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <%= tabs %>
    </div>
  </div>
</div>
<%= yield %>
<%= subtabs %>
</body>
</div>
</html>
